<div id="semilayer">
  <h2>Hey, wanna see some kittens?</h2>
  <div id = "semilayer-link">
    <%= link_to 'I want MOAR kittens!', '/update', remote: true %>
  </div>
</div>
<div id="img-hover">
  <%=image_tag @pictures.sample.data.url %>
</div>