<% provide(:title, "About") %>

<div class="semilayer-text">
    Hello there, friend! My name is Arthur and I use this site purely for testing 
    some Rails/js/styling stuff.
    Maybe in future there will be more interesting things as 
    I plan to test some new techniques there.
</div>
 