<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Our own application :3</title>
  </head>
  <body>
    <div id="semilayer">
      <div id="semilayer-link">
        This is just a simple one-paged app which I made for my 
        girlfriends birthday.
        Maybe in future there will be more stuff as 
        I plan to test some new techniques there.
      </div>
  </body>
</html>