<% provide(:title, "Array sorting") %>
<div id = "array-background">
    <%= button_to 'Press to get new array', '/sort', 
        :class => "btn btn-primary", :method => :get, remote: true %>
    <br/>
</div>