<!DOCTYPE html>
<%= stylesheet_link_tag "shadowbox" %>
<html>
  <head>
    <title><%= yield(:title) %> | Our own application :3</title>
  </head>
  <body>
    <div id="semilayer">
      <h1>Я люблю тебя, котёночек :З </h1>
    </div>
    <div id="img-hover">
      <%=image_tag Dir.new(Rails.root.to_s + 
        "/app/assets/images/to_show").to_a.select{|f|    
        f.downcase.match(/\.jpg|\.jpeg|\.png/) }.sample %>
    </div>
  </body>
</html>