<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Our own application :3</title>
  </head>
  <body>
    <h1>This is a placeholder header</h1>
    <p>
      This is a placeholder text
    </p>
  </body>
</html>