<% provide(:title, "Letters") %>
<div id = "lgn-button">
  Hover over letters to see some magic
  <br/>
  <form name="checkListForm">
			<input type="text" name="checkListItem"/>
	</form>
  <div class="btn btn-primary">Or replace them with your text!</div>
  <br/>
</div>