<% provide(:title, "Letters") %>
<div id = "letters-background">
  Hover over letters to see some magic
  <br/>
	<span>
    <div class="btn btn-primary">Or replace them with your text!</div>
    <br/>
    <input type="text" name="checkListItem" size="21"/>
  </span>
  <br/>
</div>