<% provide(:title, "Edit user") %>
<div class="semilayer-text">
  <h2>Update your profile</h2>
  <div class="row">
    <div id="lgn-button">
      <%= form_for(@user) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>