<div class="semilayer-text">
  Name : <%= @user.name %>
  <br></br> 
  Email : <%= @user.email %>
  <br></br>
  <%= render 'shared/uploads' %>
</div>
<div id = "lgn-button">
  <%= render @uploads %>
</div>
