@import "bootstrap-sprockets";
@import "bootstrap";


@font-face {
        font-family: "christmas_scriptc";
        src: font-url("christmas_scriptc.ttf") format("truetype");
}
    
@font-face {
        font-family: "Arkhip_font";
        src: font-url("Arkhip_font.otf") format("truetype");
}


header {
  font-family: "Arkhip_font";
}


body {
  background: image-url('cat.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  font-family: "christmas_scriptc";
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: grey;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* universal */


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 8em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  font-weight: bold;
  

}

h2 {
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #000;
  font-weight: bold;
  -webkit-text-stroke: 1px white;

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// белый полупрозрачный фон

#semilayer {
    text-align: center;
    padding: 5px;   
    background: #fff; 
    margin: 0 auto; 
    width: 80%; 
    opacity: 0.55; 
    filter: alpha(Opacity=55); /* Прозрачность в IE */
}

#semilayer-link {
    font-family: "Arkhip_font";
    font-size: 1.2em;
    letter-spacing: -1px;

}

// hover image

#img-hover {
    text-align: center;
    line-height: 300px;
    display: block;
    padding: 5px;  
    background: rgba(0, 0, 0, 0.7); 
    margin: 0 auto; 
    opacity: 0; 
    filter: alpha(Opacity=0); /* Прозрачность в IE */
    height: 380px; 
    width: 500px; 
}

#semilayer:hover + #img-hover {
    opacity: 0.9;
}

#img-hover img
{
  max-width: 100%; 
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
}
