<ul class="list-unstyled" id="pictures">
    <li id="upload-<%= upload.id %>">
      <% if upload.private %>
        Private image
      <% end %>
      <%= image_tag(upload.content.url) %>
      <%= link_to "delete", upload, method: :delete,
                                       data: { confirm: "You sure?" } %>
    </li>
</ul>