<ul id="pictures">
    <li id="upload-<%= upload.id %>">
      <%= image_tag(upload.content.url) %>
      <%= link_to "delete", upload, method: :delete,
                                       data: { confirm: "You sure?" } %>
    </li>
</ul>