<% provide(:title, 'All uploads') %>

<div class="semilayer-text">
  <h2>All uploads</h2>
  <br></br>
</div>

  <%= render 'shared/uploads' %>
<div id = "lgn-button">
  <%= render @uploads %>
</div>

